<%= render 'shared/navbar' %>
  <div class="container" style="margin-top: 56px">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
          <div class="col-md-12 col-lg-4">
            <% if cocktail.photo.key %>
              <% background_url = cl_image_path cocktail.photo.key, width: 400, height: 500, crop: :fill %>
            <% else %>
              <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
            <% end %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
              <%= link_to cocktail.name, cocktail_path(cocktail), class: "show" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

