<div id="cover">
  <div class="cover-header">
    <h1>Delicious cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  <div>
  <div class="container">
    <div class="row">

      <% @cocktails.each do |cocktail| %>
          <div class="col-12 col-md-6 col-lg-4">
            <% if cocktail.photo.key %>
              <% background_url = cl_image_path cocktail.photo.key, width: 400, height: 500, crop: :fill %>
            <% else %>
              <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
            <% end %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
              <%= cocktail.name %>
            </div>
            <%= link_to "Get recipe", cocktail_path(cocktail), class: "btn btn-warning btn-sm" %>
          </div>
      <% end %>
    </div>
  </div>
</div>