<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/anca019"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="https://linkedin.com/in/anca-stan-68302b85"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
