<div class="navbar">
  <div class="navbar-left">
    <%= image_tag "Cocktail_logo.png" %>
    <p>CocktailsMaker</p>
  </div>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "button" %>     
</div>