.button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $mellon;
  transition: background 0.3s ease;
}
.button:hover {
  background: $darkermellon;
  color: white;
  text-decoration: none;
}

.btn-large {
    height: 90px;
    background-color: $mellon;
    width: 350px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 4px;
    line-height: 90px;
    opacity: 0.6;
    text-align: center;

}

.btn-large a {
	color: white;
	font-family: $name-font;
}
.btn-large:hover {
	opacity: 0.7;
}

.btn-search {
  background-color: $mellon;
  opacity: 0.8;
  border-radius: 4px;
  padding: 4px 12px;
  height: 3rem;

}

.btn-search:hover {
  opacity: 0.9;
}