#cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FBF3EF;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  justify-content: center;
  flex-direction: column;
}


#cover a:hover {
	text-decoration: none;
}

#cover h2 {
    margin-top: -200px;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    color: $mellon;
    opacity: 0.8;
    font-family: $name-font;
}

#banner-typed-text {
  color: $mellon;
  font-family: $name-font;
  font-size: 24px;
  opacity: 0.8;
}