#cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FBF3EF;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  justify-content: center;
  flex-direction: column;
}


#cover a:hover {
	text-decoration: none;
}

#cover h2 {
    margin-top: -200px;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    color: $mellon;
    opacity: 0.8;
    font-family: $name-font;
}

#banner-typed-text {
  color: $mellon;
  font-family: $name-font;
  font-size: 20px;
  opacity: 0.8;
}


@media (max-width: 992px) {
  #cover h2 {
    font-size: 100px;
  }
  #cover img {
     width: 100vw;
  }

  
  .btn-search {

  }
}

@media(max-width: 768px) {
  #cover h2 {
    font-size: 70px;
  }

  #banner-typed-text {
    font-size: 12px;
  }

  #cover img {
     width: 100vw;
  }
  .search-form-control {
      width: 150px;
      height: 28px;
  }

  .search-form-control .form-control-home {
    width: 150px;
    height: 2rem;
  }
  ::placeholder {
     font-size: 10px;
}
}