.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 64px;
}

.navbar img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 4px;
}
.navbar a {
	text-decoration: none;
}
.navbar-left {
   color: $darkermellon;
   font-family: $name-font;
   font-size: 24px;
   display: flex;
   align-items: center;
}
.navbar-left p {
	margin-buttom: 0;
}
p {
  margin-buttom: 0;
}
