.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 64px;
}

.navbar img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.navbar a {
	text-decoration: none;
}
.navbar-left {
   color: $darkermellon;
   font-family: $name-font;
}
