.search-form-control {
  position: relative;
  margin-top: 56px;


}


.search-form-control .btn-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -46px;
}

.search-form-control .form-control-home {
  height: 3rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control-home:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-control-home {
  background: rgba(black, 0.7);
  font-family: $name-font;
  color: $mellon;
  opacity: 0.7;
}

.form-control-home:hover {
  text-display: none;
  background: rgba(black, 0.7);
  opacity: 0.7;
  color: $mellon;
  font-family: $name-font;

}

#search-query  {
  width: 400px;
}


.search-bar {
  width: 500px;
  margin: 0 auto;
}
::placeholder {
   color: $mellon;
   opacity: 0.7;
}

.fa-trash {
  color: $mellon;
}

.list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.show-cocktail-details {
  background-color: $light-mellon;
  border-radius: 36px;
  text-align: center;
}

.show-cocktail-details h3 {
  color: $mellon;
  font-family: $name-font;
  font-weight: bold;
}