.search-form-control {
  position: relative;
  margin-top: 56px;


}



.search-form-control .btn-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -46px;
}

.search-form-control .form-control {
  height: 3rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-control {
  background-color: black;
  opacity: 0.5;
  font-family: $name-font;
}

.form-control:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
  font-family: $name-font;
}

#search_query  {
  width: 400px;
}

.search-bar {
  width: 500px;
  margin: 0 auto;
}